<div class="row mb-4 comment">
  <div class="comment-header">

  </div>
  <div class="comment-content">
    <p>{{this.content}}</p>
    <p>- {{this.user.username}}, {{format_date this.date_created}}</p>
  </div>
</div>