  <div class="row login col-md-6">
    <h2 class="login-title">Sign Up</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="username-signup">Username:</label>
        <input class="form-input" type="text" id="username-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="login-button btn btn-primary" type="submit">Sign Up!</button>
      </div>
    </form>
    <a href="/login">Log in instead</a> 
  </div>

<script src="/js/login.js"></script>
