:root {
    --main-background-color: rgb(159, 214, 159);
    --black: black;
}

/* main.handlebars */

body {
    background-color: var(--main-background-color);
}

#navbar * {
    margin-left: 70px;
    color: var(--main-background-color);
}

#logout {
    background-color: var(--black);
}

#logout:hover {
    background-color: blue;
    cursor: pointer;
}

#title {
    background-color: var(--main-background-color);
    display: inline-block;
}

/* all-posts.handlebars, post.handlebars */

.post {
    display: flex;
    flex-direction: column;
    background-color: var(--main-background-color);
    border: 3px solid var(--black);
}

.post-header {
    display: flex;
    justify-content: space-between;
    background-color: var(--black);
    color: var(--main-background-color);
}

/* all-comments.handlebars */

.comment {
    display: flex;
    flex-direction: column;
    border: 3px solid var(--black);
}

.comment-header {
    background-color: var(--black);
    width: 100%;
    height: 58px;
}

.comment-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}